<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WykrywaniePlikow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WykrywaniePlikow.Properties.Settings>
            <setting name="FFmpeg" serializeAs="String">
                <value>C:\\Users\\Piotr\\Desktop\\ffmpeg-latest-win32-static\\ffmpeg-20130909-git-b4e1630-win32-static\\bin\\ffmpeg.exe</value>
            </setting>
            <setting name="Input" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\\Input</string>
                        <string>C:\\1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Output" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\\Output</string>
                        <string>C:\\2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Parametry" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-threads 4 -f webm -aspect 16:9 -vcodec libvpx -qmin 10 -rc_buf_aggressivity 0.95 -vb 2M -acodec libvorbis -aq 90 -ac 2</string>
                        <string>-threads 4 -f webm -aspect 16:9 -vcodec libvpx -qmin 10 -rc_buf_aggressivity 0.95 -vb 2M -acodec libvorbis -aq 90 -ac 2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Rozszerzenie" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp4</string>
                        <string>.mxf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxFolderów" serializeAs="String">
                <value>20</value>
            </setting>
        </WykrywaniePlikow.Properties.Settings>
    </userSettings>
</configuration>